.left {
    float: left;
    padding: 5px 10px 5px 0;
}

.right {
    float: right;
    padding: 5px 0 0 10px;
}

p {
    line-height: 1.5em;
    padding: 0.25em 0;
}

blockquote {
    font-style: italic !important;
    color: #888;
    line-height: 1.5em;
    padding: 0.25em 0 0.25em 0px;
    margin: 10px 20px;
}