{% load i18n %}
{% load lfc_tags %}
{% if show_level %}
    <ul>
        {% for obj in objs %}
            <li class="level-{{ obj.level }} {% if obj.is_current %}current{% endif %}">
                <a class="level-{{ obj.level }} {% if obj.is_current %}current{% endif %}"
                   href="{{ obj.url }}">
                    {{ obj.title }}
                </a>
                {{ obj.children }}
            </li>                    
        {% endfor %}
    </ul>
{% else %}
    {% for obj in objs %}
        {{ obj.children }}
    {% endfor %}
{% endif %}
