{% load i18n %}
{% load lfc_tags %}
{% if show_level %}
    <ul class="level-{{ level }}">
        {% for obj in objs %}
            <li class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}{% if obj.is_current %}current{% endif %}">
                <a class="{% if forloop.first %}first {% endif %}{% if forloop.last %}last {% endif %}{% if obj.is_current %}current{% endif %}" 
                   href="{{ obj.url }}">
                    {{ obj.title }}
                </a>
                {{ obj.children }}
            </li>                    
        {% endfor %}
    </ul>
{% else %}
    {% for obj in objs %}
        {{ obj.children }}
    {% endfor %}
{% endif %}
