{% load i18n %}
{% load lfc_tags %}
{% if show_level %}
    <ul>
        {% for page in pages %}
            <li class="level-{{ page.level}} {% if page.is_current %}current{% endif %}">
                <a class="{% if page.is_current %}current{% endif %}"
                   href="{{ page.url }}">
                    {{ page.title }}
                </a>
                {{ page.children }}
            </li>                    
        {% endfor %}
    </ul>
{% else %}
    {% for page in pages %}
        {{ page.children }}
    {% endfor %}
{% endif %}
