{% extends "lfc/base.html" %}
{% load portlets_tags %}

{% block content %}
    {% if lfc_context.display_title %}
        <h1 class="first-heading">{{ lfc_context.title }}</h1>
    {% endif %}
    <div>{{ lfc_context.text|safe }}</div>

    <table class="gallery">
        {% for row in images %}
            <tr>
                {% for image in row %}
                    <td>
                        <h2 class="title">
                            {{ image.title }}
                        </h2>
                        <div class="caption">
                            {{ image.caption }}
                        </div>
                        <div class="image">
                            <a href="{{ image.image.url_600x600 }}"
                               class="lightbox"
                               title="{{ image.title }}">
                                <img src="{{ image.image.url_200x200 }}"
                                     alt="{{ image.name }}"
                                     title="{{ image.title }}" />
                            </a>
                        </div>
                        <div class="short-description">
                            {{ image.short_description }}
                        </div>
                        <div class="description">
                            {{ image.description|safe }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
