{% load i18n %}
{% load comments %}

{% if lfc_context %}
    {% get_comment_list for lfc_context as comment_list %}

    {% if comment_list %}
        <h2 class="underlined">
            <a name="comments">{% trans 'Comments' %}</a>
        </h2>

        {% for comment in comment_list %}
            <div class="comment">
                <div class="name">
                    {{ forloop.counter }}.
                    {% if comment.url %}
                        <a target="_blank" href="{{ comment.url }}">{{ comment.name }}</a>
                    {% else %}
                        {{ comment.name }}
                    {% endif %}
                    {{ comment.submit_date|date:"d.m.Y - H:i" }}
                </div>
                <div class="comment-text">
                    {{ comment.comment }}
                </div>
            </div>
        {% endfor %}

    {% endif %}

    {% if lfc_context.are_comments_allowed %}
        <h2 class="underlined">{% trans 'Leave a comment' %}</h2>
        {% render_comment_form for lfc_context %}
    {% endif %}
{% endif %}

