{% load i18n %}
<div id="colophon">
    <div class="container">
        <div class="span-24">
            <p>{% trans 'Powered by' %} <a target="_blank" href="http://www.lfcproject.com">LFC</a> &mdash; Lightning Fast CMS</p>
            <p>
                &copy; 2009 - {% now "Y" %} {% trans "by" %} Kai Diefenbach {% trans "and contributors" %} &mdash; {% trans 'All rights reserved' %}
            </p>
            <p>{% trans 'Distributed under the' %} <a target="_blank" href="http://www.opensource.org/licenses/bsd-license.php">{% trans 'BSD-License' %}</a></p>
        </div>
    </div>
</div>
