{% load i18n %}
<div id="colophon">
    <div class="container">
        <div class="span-24">
            <p>{% trans 'Powered by' %} <a target="_blank" href="http://www.getlfs.com">LFC</a> &mdash; Lightning Fast CMS</p>
            <p>
                LFC {% trans 'is a product of' %} <a target="_blank" href="http://www.iqpp.de">IQ++</a>
                &mdash; &copy; 2009-2011 <a target="_blank" href="http://www.iqpp.de">IQ++</a> &mdash; {% trans 'All rights reserved' %}
            </p>
            <p>{% trans 'Distributed under the' %} <a target="_blank" href="http://www.opensource.org/licenses/bsd-license.php">{% trans 'BSD-License' %}</a></p>
        </div>
    </div>
</div>
