{% load i18n %}
{% load lfc_tags %}

<div id="header">
    <div class="container logo">
        <div class="span-18">
            <h1 class="logo"><a href="/{{ LINK_LANGUAGE }}">LFC</a></h1>
        </div>
        <div class="span-6 last flags">
            {% if not user.is_authenticated %}
                <a href="{% url lfc_login %}">{% trans "Login" %}</a>  |
            {% endif %}
            {% if LFC_MULTILANGUAGE %}
                {% lfc_languages %}
                {% for language in lfc_languages %}
                    {% if language.is_available %}
                        {% if lfc_context %}
                            <a href='{% url lfc_set_language language.code lfc_context.id %}'>
                                {% trans language.name %}</a>
                        {% else %}
                            <a href='{% url lfc_set_language language.code %}'>
                                {% trans language.name %}</a>
                        {% endif %}
                    {% else %}
                        <span>{% trans language.name %}</a>
                    {% endif %}
                        {% if not forloop.last %}|{% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
