{% load i18n %}
{% load lfc_tags %}
{% load workflows_tags %}

{% if user.is_authenticated %}    
    <div id="management">
        <div class="container">
            <div class="span-6">
                {% templates %}
            </div>
            <div class="span-6">
                {% if lfc_context and lfc_context.get_workflow %}
                    <form action="{% url lfc_do_transition lfc_context.id %}"
                          method="POST">
                        {% transitions lfc_context %}
                        <input type="submit" value="{% trans 'Go' %}" />
                    </form>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <div id="login" class="span-12 last">
                <span class="site-actions">
                    {% if user.last_name %}
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                    {% else %}
                        <span>{{ user.username }}</span>
                    {% endif %}
                    | <a class="site-action" href="{% url lfc_logout %}">{% trans "Logout" %}</a>
                    {% if lfc_context %}
                        | <a class="site-action" href="{% url lfc_manage_object lfc_context.id %}">{% trans "Manage" %}</a>
                    {% else %}
                        | <a class="site-action" href="{% url lfc_manage_portal %}#type=portal&amp;id=1">{% trans "Manage" %}</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endif %}

