{% load i18n %}
{% load lfc_tags %}

{% if user.is_authenticated %}
    <div id="management">
        <div class="container">
            <div class="span-6">
                {% templates %}
            </div>
            <div id="login" class="span-18 last">
                <span class="site-actions">
                    {% if user.last_name %}
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                    {% else %}
                        <span>{{ user.username }}</span>
                    {% endif %}
                    | <a class="site-action" href="{% url 'lfc_logout' %}">{% trans "Logout" %}</a>
                    {% if lfc_context %}
                        | <a class="site-action" {% ifhasperm view_management %}href="{% url 'lfc_manage_object' lfc_context.id %}{% endifhasperm %}">{% trans "Manage" %}</a>
                    {% else %}
                        | <a class="site-action" href="{% url 'lfc_manage_portal' %}">{% trans "Manage" %}</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endif %}

